/admin-add-user.html
/admin-admin-edit.html
/admin-dashboard.html
/admin-login.html
/admin-student-edit.html
/admin-teacher-edit.html
/forgot-password.html
/homepage.html
/quiz-results.html
/quiz.html
/register.html
/student-dashboard.html
/student-login.html
/submit-question.html
/teacher-add-question.html
/teacher-dashboard.html
/teacher-login.html
/teacher-questions-edit.html
/teachers-questions-list.html
